.mobile-navigation {
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    height:98vh;
    background-color: #070724;
    z-index: 999;
    transition-duration: 1s;

    &-container {
        height:80%;
        overflow-y: scroll;
        padding:2rem;
    }

    &-element {
        padding: 1.6rem 0;
        font-size: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        font-weight: bolder;
        display: flex;
        align-items: center;
    }

    &-bullet {
        width:1.5rem; 
        height:1.5rem;
        border-radius: 50px;
        margin-right: 1.5rem;
    }

}