header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Antonio', sans-serif;

    &--logo {
        font-size: 2rem;
        font-weight: bolder;
    }

    &--links {
        display: flex;
        justify-content: flex-end;
        margin:  0;
    }

    &--link {
        padding: 2rem 0;
        text-transform: uppercase;
        margin : 0 1rem;
        cursor: pointer;
    }
}

.menu-icon {
    display: none;
}


@media only screen and (max-width: 600px) {
    .navbar {
        padding: 2rem;

        &--links {
        display: none;
        }
    }

    .menu-icon {
        display:block;
    }
  }